<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315592272739-odngrahlbi292vhkn1nctp4ggl5h4tte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315592272739-odngrahlbi292vhkn1nctp4ggl5h4tte</string>
	<key>API_KEY</key>
	<string>AIzaSyBiBkmJiY-q5z-GCDwqo0ZSLsiOVM-ravs</string>
	<key>GCM_SENDER_ID</key>
	<string>315592272739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.juliengrandchavin.gameServicesCredentials</string>
	<key>PROJECT_ID</key>
	<string>game-services-firebase-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>game-services-firebase-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315592272739:ios:819a593c3710a317eec156</string>
</dict>
</plist>